@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@font-face {
  font-family: 'Disket Mono';
  src: url("../fonts/Disket-Mono-Regular.eot");
  src: local("☺"), url("../fonts/Disket-Mono-Regular.woff") format("woff"), url("../fonts/Disket-Mono-Regular.ttf") format("truetype"), url("../fonts/Disket-Mono-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto";
  font-style: normal;
  height: 100%;
  width: 100%;
  // font-size: 100%;
  font-size: 19px;
  line-height: 1;
  // font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #F8AC01;
  border-radius: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  padding: 6px 0 0px;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  // background-color: #FFFFFF;
  z-index: 3;
}

// .container {
//   width: 1110px;
//   margin: 0 10px;
// }
.logo__img {
  position: relative;
  top: -7px;
}

.nameCompany {
  font-family: 'Disket Mono';
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #F8AC01;
  padding-left: 2px;
}

// .nameCompany__span {
//   color: var(--theme);
// }

.header__body {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  // width: 128px;
  // margin-top: 5px;
  // height: 31px;
}


.header__burger {
  display: none;
}

.header__menu {
  display: flex;
  padding: 0 14px 0 0;
  // gap: 35px;
  margin: 1px 0 0 0;
  gap: 13px;
}



.header__menu li:hover {
  background-color: #1E1E1E;
  color: #F8AC01;
}

.header__link {
  position: relative;
  z-index: 5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0px -4px 0 0;
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.header__link:hover {
  color: var(--theme);
}

.header__right {
  display: flex;
  // margin: -4px 2px 0 0;
  z-index: 3;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1E1E1E;
}

.space {
  margin-left: 36px;
}

.header {
  .dropdown__button {
    justify-content: left;
  }
}

._icon-search::before {
  font-size: 19px;
  color: #1E1E1E;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

._icon-search:hover::before {
  color: #F8AC01;
}

.header__menuItem {
  // width: 142px;
  position: relative;

}

.btnDropDown {
  cursor: pointer;
  display: flex;
  width: 142px;
  z-index: 1;
  position: relative;
  padding-left: 7px;
  // justify-content: center;

  span {
    display: inline-block;
  }
}

.arrow {
  // margin: -3px 0 0 6px;
  margin-top: -3px;
  margin-left: 6px;
  pointer-events: none;
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}

.arrow180 {
  margin-top: 3px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

._icon-arrowDown::before {
  font-size: 5px;
  color: #F8AC01;
}

.headerDropdown {
  position: absolute;
  height: min-content;
  width: 100%;
  top: -9px;
  padding: 47px 0 0 0;
  z-index: 2;
  display: flex;
  background-color: #F4F4F4;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);

  &::after {
    content: '';
    position: absolute;
    width: 86%;
    border-bottom: 1px solid #A9A9A9;
    left: 50%;
    top: 37px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }

  .headerDropdown__content {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    display: block;
    padding: 4px 10px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    color: #1E1E1E;
    cursor: pointer;
  }
}

.search__input {
  position: relative;

  .input {
    position: absolute;
    top: 39px;
    right: -6px;
    display: flex;
    justify-content: space-between;
    width: 310px;
    height: 40px;
    background: #F4F4F4;
    padding: 3px 10px 0 7px;

    ._icon-search {
      position: relative;
      font-size: 20px;
    }
  }
}

.input {}

.input:focus-within {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px #ababab;
}

.inputIn {
  background: none;
  color: #1E1E1E;
  font-size: 15px;
}
::placeholder{
    color: #1E1E1E;
  }

.button__search {
  background: none;
}


@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }

  .container {
    width: calc(735px + (1000 - 735) * ((100vw - 769px) / (1024 - 769)));
    // margin: 0 auto;
  }

  .arrow180 {
    margin-top: 7px;
  }

  .btnDropDown {
    width: 200px;
    justify-content: center;
  }

  .header__menuItem {
    font-size: 24px;
    margin-bottom: 28px;
  }

  .headerDropdown li {
    font-size: 20px;
  }

  .content {
    width: calc(310px + (900 - 310) * ((100vw - 320px) / (980 - 320)));
  }

  .header {
    height: 52px;
    padding: 0;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 28px;
    height: 20px;
    position: relative;
    z-index: 5;
    order: 2;
    margin-left: 18px;
  }

  .header__logo {
    position: relative;
    z-index: 5;
    // width: 150px;
    height: 35px;
  }

  .header__burger span {
    position: absolute;
    background-color: #1E1E1E;
    left: 0;
    width: 100%;
    height: 5px;
    top: 10px;
    transition: all .3s ease .2s;
    -webkit-transition: all .3s ease .2s;
    -moz-transition: all .3s ease .2s;
    -ms-transition: all .3s ease .2s;
    -o-transition: all .3s ease .2s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #1E1E1E;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    transition: all .3s ease .2s;
    -webkit-transition: all .3s ease .2s;
    -moz-transition: all .3s ease .2s;
    -ms-transition: all .3s ease .2s;
    -o-transition: all .3s ease .2s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 8px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    top: 8px;
  }

  .header__burger.active span {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }

  .header__link {
    line-height: 1;
  }

  ._icon-search::before {
    font-size: 22px;
  }

  .header__menu {
    position: fixed;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    padding: 70px 10px 20px 10px;
    overflow: auto;
    display: flex;
    justify-content: start;
    transition: all 0s ease-in;
    -webkit-transition: all 0s ease-in;
    -moz-transition: all 0s ease-in;
    -ms-transition: all 0s ease-in;
    -o-transition: all 0s ease-in;
  }

  .space {
    margin: 0;
  }

  .header__menu.active {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 49px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    padding: 70px 10px 20px 10px;
    z-index: 2;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    top: 21px;
  }

  .header__menu ul {
    display: block;
  }


  .header__menu ul li {
    display: flex;
    padding: 10px;
    justify-content: center;
    // margin: 0 0 35px 0;
    // font-size: 30px;
  }
}




// ========================================================

.container {
  max-width: 980px;
  margin: 0 auto;
  width: calc(735px + (980 - 735) * ((100vw - 769px) / (1440 - 769)));
}

h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: #F8AC01;
}

h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #2E2E2E;
}

.main__top {
  position: relative;
  margin: 50px 0 0 0;

}

.main__topContent {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;

  p {
    position: absolute;
    width: 293px;
    // font-size: 19px;
    right: 0;
    bottom: 0;
    color: #FFFFFF;
  }
}

.perfectCar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.perfectCar__example {
  width: 160px;

  img {}
}

.example__title {
  text-align: center;
}








.hidden,
.input.hidden {
  display: none;
}

.active {
  display: block;
}

.zPlus {
  z-index: 3;
}

@media(max-width:768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }

  .container {
    width: calc(339px + (735 - 339) * ((100vw - 360px) / (768 - 360)));
    // margin: 0 auto;
  }

}




// FOOTER
.footer {
  background-color: #1E1E1E;
  // background-color: #B57272;

  .container {
    display: flex;
    flex-direction: column;
  }

  .footer__top {
    display: flex;
    align-items: center;
    gap: 58px;
    margin: 42px 0 0 0;
  }

  ul {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px 69px;
    margin: 26px 0px;

    li {
      width: 124px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 156%;
      color: #FFFFFF;
    }
  }

  .footer__bottom {
    margin: 0 4px 17px 4px;

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 200%;
      color: #FFFFFF;
    }
  }

}

.rights {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: calc(16px + (28 - 16) * ((100vw - 360px) / (1440 - 360)));
  text-align: center;
  color: #2E2E2E;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F5F5F5;
  padding: calc(24px + (18 - 24) * ((100vw - 360px) / (1440 - 360))) 34px calc(6px + (23 - 6) * ((100vw - 360px) / (1440 - 360))) 34px;

}

@media (max-width:1024px) {
  .footer {
    .footer__top {
      order: 3;
      margin: 27px 0 18px 0;
      padding: 13px 0 0 0;
      border-top: 1px solid #F8AC01;
    }

    ul {
      order: 1;
    }

    .footer__bottom {
      order: 2;
      margin: 0px;
    }
  }
}





// .form__group {
//   height: 42px;
//   // z-index: 3;
//   display: flex;
//   align-items: center;
// }

// .dropdown {
//   width: 142px;
//   // margin: 0 0 0 0;
//   position: relative;
//   display: flex;
//   transition: all 0.4s ease;
//   -webkit-transition: all 0.4s ease;
//   -moz-transition: all 0.4s ease;
//   -ms-transition: all 0.4s ease;
//   -o-transition: all 0.4s ease;
// }


// .dropdown__button {
//   white-space: nowrap;
//   display: flex;
//   // justify-content: center;
//   width: 100%;
//   // height: 52px;
//   text-align: left;
//   // background: var(--theme);
//   // padding: 13px 7px 13px 8px;
//   color: #1E1E1E;
//   cursor: pointer;
//   border-radius: 10px 10px 10px 10px;
//   -webkit-border-radius: 10px 10px 10px 10px;
//   -moz-border-radius: 10px 10px 10px 10px;
//   -ms-border-radius: 10px 10px 10px 10px;
//   -o-border-radius: 10px 10px 10px 10px;
//   z-index: 3;
//   border: none;
// }

// .dropdown__arrow {
//   // width: 15px;
//   text-align: center;
//   // margin: 0 0 0 6px;
//   // display: flex;
//   // align-items: center;
//   position: absolute;
//   right: 0;
//   top: 0px;
// }

// .dropdown__arrow::before {
//   font-size: 5px;
//   // pointer-events: none;
//   // position: relative;
//   // right: 6px;
//   // top: 0px;
//   // margin: 0 -7px 0 34px;
//   // width: 15px;
// }



// .dropdown__arrow180 {
//   // display: block;
//   // pointer-events: none;
// }

// .dropdown.shadowBg::before {
//   content: '';
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.2);
//   z-index: 1;
// }

// .dropdown__list {
//   z-index: 2;
//   height: 250px;
//   overflow: hidden;
//   display: none;
//   position: absolute;
//   left: 0px;
//   top: 20px;
//   width: 100%;
//   padding: 12px 5px 0 5px;
//   border-radius: 0px 0px 10px 10px;
//   -webkit-border-radius: 0px 0px 10px 10px;
//   -moz-border-radius: 0px 0px 10px 10px;
//   -ms-border-radius: 0px 0px 10px 10px;
//   -o-border-radius: 0px 0px 10px 10px;
//   background: none;
//   // border: 1px solid #434343;
//   border-top: none;
// }

// .dropdown__list::before {
//   position: absolute;
//   content: "";
//   top: 8px;
//   left: 0px;
//   z-index: -1;
//   width: 100%;
//   height: 100%;
//   background: #FFFFFF;
//   border-radius: 10px;
//   -webkit-border-radius: 10px;
//   -moz-border-radius: 10px;
//   -ms-border-radius: 10px;
//   -o-border-radius: 10px;
// }

// .dropdown__list .dropdown__lists {
//   border-top: none;
//   overflow-y: scroll;
//   height: 95%;
//   // margin: 2px 0 0 0;
//   display: flex;
//   flex-wrap: wrap;
// }

// .dropdown__list--visible {
//   display: block;
// }

// .dropdown__button--active {
//   z-index: 10;
//   border: 2px solid var(--theme);
//   color: var(--theme);
//   background-color: #FFFFFF;
// }

// .dropdown__list-item {
//   margin: 0 11px 0 4px;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 28px;
//   color: var(--theme);
//   padding: 6px 10px 3px 7px;
//   border-bottom: 1px solid #C9C9C9;
//   cursor: pointer;
//   // display: block;
//   width: 100%;
// }

// .dropdown__list-item:first-child {
//   margin-top: 0px;
// }

// .dropdown__list-item:hover {
//   color: var(--theme);
// }

// .dropdown__input-hidden {
//   display: none;
// }